.tb{
  width: 100%;
  border: 1px solid black;
  margin-top: 20px;
}
.tbtr{
  border-collapse: collapse;
}
tr,
td,
th{
  border: 1px solid black;
}
h1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
